<div class="wrapper">
  <headertemp/>
  <menutemp/>
  <section class="content-wrapper" style="min-height: 319px;">
   <!-- Content Header (Page header) -->
   <section class="content-header">
     <h1>
       Billing
     </h1>
     <div class="text-right">
       <button class="blue-button create" type="button" data-toggle="modal" data-target="#create-account">Create</button>
     </div>
   </section>
   <!-- Main content -->
   <div class="content">
     <!-- =========================================================== -->

     <!-- Small boxes (Stat box) -->
     <div class="row">
       <div class="col-md-12">
         <div class="box box-primary">
           <div class="box-header with-border">
             <!-- Search -->

               <div class="show-item">
                 <select v-model="selectitem" >
                   <option v-for="item in showitems">{{item.option}}</option>
                  </select>
              </div>
             <!-- /. Search -->

           </div>
           <!-- /.box-header -->
           <div class="box-body no-padding">
              <div class="table-responsive set-table" id="billing-table">
               <v2-table :data="billing">
                   <v2-table-column label="Account" prop="account"></v2-table-column>
                   <v2-table-column label="Reference No." prop="refno"></v2-table-column>
                   <v2-table-column label="Date" prop="date"></v2-table-column>  
                   <v2-table-column label="Company" prop="company"></v2-table-column>
                   <v2-table-column label="Plan" prop="plan"></v2-table-column>
                   <v2-table-column label="Montly Charges" prop="moncharges"></v2-table-column>  
                   <v2-table-column label="No. of Minutes" prop="noofminutes"></v2-table-column>
                   <v2-table-column label="SMS Sent" prop="smssent"></v2-table-column>
                   <v2-table-column label="Total Montly Charges" prop="totmoncharges"></v2-table-column>
                   <v2-table-column label="view" prop="view"></v2-table-column>
                 </v2-table>  
                <!-- /.table -->
              </div>
            </div>
           <!-- /.box-body -->
           <div class="box-footer no-padding">
             <div class="custom-pagination">
               <nav>
                 <ul>
                   <li class="prev">
                     <a href="#">
                       <img src="/static/images/ic_arrow_left_gray.svg">
                     </a>
                   </li>
                   <li class="active">
                     <a href="#">1</a>
                   </li>
                   <li>
                     <a href="#">2</a>
                   </li>
                   <li>
                     <a href="#">3</a>
                   </li>
                   <li>
                     <a href="#">4</a>
                   </li>
                   <li>
                     <a href="#">5</a>
                   </li>
                   <li>
                     <a href="#">...</a>
                   </li>
                   <li class="next">
                     <a href="#">
                       <img src="/static/images/ic_arrow_right_gray.svg">
                     </a>
                   </li>
                 </ul>
               </nav>
               <p>Showing
                 <span class="current-page">1</span> to
                 <span class="items-limit">10</span> items out of
                 <span class="total-items">30</span> entries</p>
             </div>
           </div>
         </div>
         <!-- /. box -->
       </div>
       <!-- /.col -->
     </div>
     <!-- /.row -->

     <!-- =========================================================== -->

   </div>
   <!-- /.content -->
 </section>
  <footertemp/>
</div>