<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar" style="height: auto;">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <router-link :to="menu.accounts" class="treeview" tag="li"><a><i class="fa fa-tachometer"></i><span>Accounts</span></a></router-link>
      <router-link :to="menu.reports" class="treeview" tag="li"><a><i class="fa fa-tachometer"></i><span>Reports</span></a></router-link>
      <router-link :to="menu.billing" class="treeview" tag="li"><a><i class="fa fa-tachometer"></i><span>Billing</span></a></router-link>
      <router-link :to="menu.cms" class="treeview" tag="li"><a><i class="fa fa-tachometer"></i><span>CMS Accounts</span></a></router-link>
      <router-link :to="menu.audit" class="treeview" tag="li"><a><i class="fa fa-tachometer"></i><span>Audit Trails</span></a></router-link>
       <router-link :to="menu.profile" class="treeview" tag="li"><a><i class="fa fa-tachometer"></i><span>Profile</span></a></router-link>
     
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>